%h2
  = t("titles.adopt", :thing => t("defaults.thing").titleize)

%p Interested in adopting this #{t("defaults.thing")}? The City of Savannah has resources online outlining the steps involved:

%p= link_to "Read more about the process!", "http://savannahga.gov/index.aspx?NID=1229", class: 'btn primary'
